name: Bandit

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  bandit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v4

      - name: Bandit Scan
        uses: PyCQA/bandit-action@v1
        with:
          targets: "."
